{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Dispositivo {{ device_data['deveui'] }} {% endblock %}</h2>
	<hr>
    <h3>Tipo</h3>
	<p> {{ device_data['type'] }}</p>
	<hr>
	<h3>Setor</h3>
	{% if device_data['sector'] == 0 %}
		<p> - </p>
	{% else %}
		<a href="{{ url_for('sector', sector_id=device_data['sector']) }}">
			<p>{{ device_data['sector'] }}</p>
		</a>	
	{% endif %}
	<hr>
	<a href="{{ url_for('device_edit', deveui=device_data['deveui']) }}">
		<span class="badge badge-warning">Editar</span>
	</a>
	<hr>
	
<form action="{{ url_for('device_delete', deveui=device_data['deveui']) }}" method="POST">
    <input type="submit" value="Excluir dispositivo"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Tem certeza que deseja excluir esse dispositivo?')">
</form>
{% endblock %}